{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": [
      "warn",
      4, 
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "warn",
      "always"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "switch-colon-spacing": ["error", {"after": true, "before": false}],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
    "@typescript-eslint/type-annotation-spacing": ["warn", {"after": false, "before": false}]
  }
}